{% extends "android/_layout.html" %}

{% block navbar%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i></a></div>
        <div class="center sliding">{{ title }}</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% autoescape true %}
<!-- Über -->
<div id="about" class="card">
    <div class="card-header">Über</div>
    <div class="card-content-inner">
        <p>
            Mit otrrent koennen Nutzer von onlineTVrecorder.com (OTR) per torrent verfuegbare beliebteste Aufnahmen von OTR auswaehlen
            und die entsprechende torrent Datei an einen heimischen ftp-Server weiterleiten. Am heimischen Rechner kann dann mit einem bittorrent Client
            die entsprechende Sendung (otrkey) runtergeladen werden.
        </p>
    </div>
</div>

<!-- Pro User -->
<div class="card">
    <div class="card-header">Werde Pro User</div>
    <div class="card-content-inner">
        <p id="getprouser">Als otrrent Pro-User können Sie Aufnahmen in der Cloud decodieren, schneiden und dann als Video an Ihren ftp-Server senden lassen.</p>
        <p>
            Um diese Funktion nutzen zu können, ist eine Anmeldung unter OTR () notwendig. otrrent benötigt Ihre OTR Zugangsdaten um die von Ihnen aufgenommenen Sendungen decodieren zu können.
            Ihre Zugangsdaten werden verschlüsselt übertragen und gespeichert. Ihre Daten werden nicht weitergegeben und nur zum decodieren einer Sendung genutzt.
        </p>
        <p>Diese Funktion wird noch entwickelt und steht in dieser Version noch nicht zu Verfügung.</p>
    </div>
</div>

<!-- Pro User -->
<div class="card" id="0123456xyz">
    <div class="card-header">Werbefrei</div>
    <div class="card-content-inner">
        <p>Nutzen Sie otrrent ohne Werbung!</p>
        <p>Diese Funktion wird noch entwickelt und steht in dieser Version noch nicht zu Verfügung.</p>
    </div>
</div>
{% endautoescape %}

<!-- App Konfiguration -->
<div class="card">
    <div class="card-header">App</div>
    <div class="card-content" id="appconfig">
        <div class="list-block">
            <ul>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Version</div>
                        <div class="item-after">{{ config['APPLICATION_VERSION'] }}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Autor</div>
                        <div class="item-after">{{ session['platform'] }}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">UI</div>
                        <div class="item-after">{{ session['platform'] }}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Plattform</div>
                        <div class="item-after">{{ request.user_agent.platform }}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Browser</div>
                        <div class="item-after">{{ request.user_agent.browser }}</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Fingerprint</div>
                        <div class="item-after">{{ g.user.RowKey }}</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Hinweise & Lizenzen -->
{% endblock %}


