{% extends "android/_layout.html" %}

{% block navbar%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">{{ title }}</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <form action="{{ url_for('ui.settings') }}" method="POST" class="ajax-submit-onchange">
    {{ form.hidden_tag() }}

    <div class="content-block-title">FTP Endpoint</div>
    <div class="list-block">
        <ul>

            <!-- Protocol -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.Protocol.label }}</div>
                        <div class="item-input">
                            {{ form.Protocol }}
                        </div>
                        <div class="item-input label">
                            {% for error in form.Protocol.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </li>

            <!-- Server -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.Server.label }}</div>
                        <div class="item-input">
                            {{ form.Server }}
                        </div>
                        <div class="item-input label" style="color: red;">
                            {% for error in form.Server.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>
            </li>

            <!-- Port -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.Port.label }}</div>
                        <div class="item-input">
                            {{ form.Port }}
                        </div>
                        <div class="item-input label" style="color: red;">
                            {% for error in form.Port.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>
            </li>

            <!-- FtpUser -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.FtpUser.label }}</div>
                        <div class="item-input">
                            {{ form.FtpUser }}
                        </div>
                        <div class="item-input label" style="color: red;">
                            {% for error in form.FtpUser.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>
            </li>

            <!-- FtpPassword -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.FtpPassword.label }}</div>
                        <div class="item-input">
                            {{ form.FtpPassword }}
                        </div>
                        <div class="item-input label" style="color: red;">
                            {% for error in form.FtpPassword.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>
            </li>

            <!-- ServerPath -->
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">{{ form.ServerPath.label }}</div>
                        <div class="item-input">
                            {{ form.ServerPath }}
                        </div>
                        <div class="item-input label" style="color: red;">
                            {% for error in form.ServerPath.errors %}{{ error }}{% endfor %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    {% if User.ProUser %}
        <div class="content-block-title">Decoding otrkey</div>
        <div class="list-block">
            <ul>

                <!-- Push Video -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">{{ form.PushVideo.label }}</div>
                            <div class="item-input">
                                <label class="label-switch">
                                    {{ form.PushVideo }}
                                    <div class="checkbox"></div>
                                </label>
                            </div>
                            <div class="item-input label">
                                {% for error in form.PushVideo.errors %}
                                <span style="color: red;">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

                <!-- OTR User-->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">{{ form.OtrUser.label }}</div>
                            <div class="item-input">
                                {{ form.OtrUser }}
                            </div>
                            <div class="item-input label" style="color: red;">
                                {% for error in form.OtrUser.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

                <!-- OTR Password -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">{{ form.OtrPassword.label }}</div>
                            <div class="item-input">
                                {{ form.OtrPassword }}
                            </div>
                            <div class="item-input label" style="color: red;">
                                {% for error in form.OtrPassword.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

                <!-- UseCutlist -->
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title label">{{ form.UseCutlist.label }}</div>
                            <div class="item-input">
                                <label class="label-switch">
                                    {{ form.UseCutlist }}
                                    <div class="checkbox"></div>
                                </label>
                            </div>
                            <div class="item-input label" style="color: red;">
                                {% for error in form.UseCutlist.errors %}{{ error }}{% endfor %}
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    {% endif %}

</form>

{% endblock %}
