{% extends "ios/_layout.html" %}

{% block navbar%}
<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">{{ title }}</div>
        <div class="right">
            <!-- Right link contains only icon - additional "icon-only" class--><a href="#" class="link icon-only open-panel"> <i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}

<!-- Content Block Listview -->
<div class="list-block media-list">
    <ul>

        {% for item in items %}

        <!-- Divider -->
        {% if loop.changed(item.createdate) %}
        <li class="item-divider">{{ item.createdate }}</li>
        {% endif %}

        <!-- Listitems -->
        <li class="item-content">
            <div class="item-media"><img data-src="{{ item.previewimagelink }}" class="lazy" width="80"></div>
            <div class="item-inner">
                <div class="item-title-row">
                    <div class="item-title">{{ item.titel }}</div>
                    <div class="item-after">
                        {% if item.status in ['error', 'deleted'] %}
                        <i class="f7-icons" style="color: red;">bolt_round_fill</i>
                        {% elif item.status in ['finished'] %}
                        <i class="f7-icons" style="color: green;">check_round_fill</i>
                        {% else %}
                        <i class="f7-icons" style="color: yellow;">help_fill</i>
                        {% endif %}
                    </div>
                </div>

                <div class="item-subtitle">{{ item.genre }}</div>
                <div class="item-text">{{ item.sender }} {{ item.startdate }} {{ item.starttime }}</div>
                {% if item.resolution == 'HD' or item.resolution == 'HD.AC3' %}
                <span class="badge bg-orange">
                    {{ item.resolution }}
                </span>
                {% elif item.resolution == 'HQ' %}
                <span class="badge bg-red">
                    {{ item.resolution }}
                </span>
                {% elif item.resolution == 'MP4' %}
                <span class="badge bg-green">
                    {{ item.resolution }}
                </span>
                {% else %}
                <span class="badge bg-blue">
                    {{ item.resolution }}
                </span>
                {% endif %}
                <div class="chip">
                    <div class="chip-label">{{ item.tasktype }}</div>
                </div>
                <div class="chip">
                    <div class="chip-label">{{ item.status }}</div>
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

{% endblock %}
